body{
    background:rgb(190, 190, 190);
}

.main-block-logo{
    background:rgb(231, 107, 107);
    color: black;
    text-align: center;
    width: 100%;
    height: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main-block-task{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 30px;
}

.main-block-task-input{
    width: 1000px;
    height: 60px;
    font-size: 35px;
    box-shadow: -2px -2px;
}

.main-block-task-button{
    width: 120px;
    height: 68px;
    margin-left: 30px;
    font-size: large;
    font-weight: bolder;
    box-shadow: -2px -2px;
}

.main-block-new-task{
    width: 1155px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 173px ;
    box-shadow: -2px -2px;
    overflow: auto;
    
}
/* gsdfhdghkmfghkfhjkfghk */


.main-block-new-task-create{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    background: #FFFFFF ;
    border: 3px solid black;
    box-shadow: -2px -2px;
    color:black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 35px;
overflow: auto;
}
.line{
    text-decoration: line-through;
}

.main-block-new-task-delete{
float: right;
 cursor: pointer;
}