.block_main{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.block_main_betven{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.none_but {
	display: none;
}
